@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Okra&display=swap');

body {
  font-family: 'Okra', sans-serif;
}


@keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }


  @keyframes slideRight {
    from {
      transform: translateX(-80%);
    }
    to {
      transform: translateX(0);
    }
  }


  
  @keyframes slideLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }